@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Web Resume</h1>
    <h3>below is where my pensive picture will go</h3>
    <div id="picFrame">
        <iframe src="" width="500" height="200"></iframe>

    </div>
</div>


