@{
    ViewData["Title"] = "Home Page";
}



@*<div class="container shadow-border" id="topBox">
    <img  src="~/images/wedding_cropped.jpg" alt="ASP.NET" class="img-responsive" />
    <div class="imgList">
        <div class="row">
            <div class="col-md-4">
                <h3>Kelly Starling</h3>
                <ul>
                    <li>I am gud develooper.</li>
                    <li>I compuutor well.</li>
                    <li>Bathes regularly.</li>

                </ul>
            </div>
        </div>
    </div>
</div>*@


<div class="backgroundimg">


    <div id="topBox" class="shadow-border">
        <div class="imgList">
            <div class="row">
                <div class="col-md-4">

                    <ul>
                        <li style="font-size:32px;">Kelly Starling</li>
                        <li style="font-size: 20px; padding-top:13px;">Software Developer</li></br>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;kellystarling14@gmail.com</li>
                        <li><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;Macon, GA</li>

                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="botBox" class="shadow-border">
    <p>
        <h4 id="botBoxText">
            Passionate IT professional seeking to leverage my experience as a Developer within your company. True team-player with a love for problem-solving and the people skills needed to accomplish inter-departmental goals in order to successfully meet the needs of clients.
            I need to put much more text here to make this area seem fuller. Too bad I'm not also good with PhotoShop :)
        </h4>
    </p>

</div>

